{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 200,
  "proseWrap": "never",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}